doctype 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet',href='http://yandex.st/highlightjs/7.3/styles/github.min.css')
    script(src='http://yandex.st/highlightjs/7.3/highlight.min.js')
    block head
  body
    h1= title
    block content