doctype 5
html(lang="en")
  head
    title API Documentation
    link(rel='stylesheet',href='documentation.css')
    link(rel='stylesheet',href='http://yandex.st/highlightjs/7.3/styles/github.min.css')
    script(src='http://yandex.st/highlightjs/7.3/highlight.min.js')
  body
    h1 API Documentation
    != body