doctype 5
html(lang="en")
  head
    title API Documentation
  body
    h1 API Documentation
    each call in calls
      div(class=call.classes)
        label.method= call.method
        label.path= call.path
        div.response= call.response
